/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
    Generic Styles
   ========================================================================== */

#content {
    width: 600px;
    background-color: #eee;
    position: relative;
}

button {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    -webkit-box-shadow: 5px 5px 5px -6px rgba(119, 63, 25, 0.75);
    -moz-box-shadow: 5px 5px 5px -6px rgba(119, 63, 25, 0.75);
    box-shadow: 5px 5px 5px -6px rgba(119, 63, 25, 0.75);
    border: 1px solid grey;
    background-color: #ddd;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

button:active {
    transition: box-shadow 0.75s ease;
    -moz-box-shadow: inset 7px 8px 24px -6px rgba(119, 63, 25, 0.75);
    box-shadow: inset 7px 8px 24px -6px rgba(119, 63, 25, 0.75);
    -webkit-animation: shadowFade .75s;
}

#controls button {
    margin: 10px 60px;
}

/* ==========================================================================
    Card style
   ========================================================================== */

#card {
    width: 300px;
    height: 150px;
    background-color: #ddd;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    -webkit-box-shadow: 22px 27px 91px -6px rgba(119, 63, 25, 0.75);
    -moz-box-shadow: 22px 27px 91px -6px rgba(119, 63, 25, 0.75);
    box-shadow: 22px 27px 91px -6px rgba(119, 63, 25, 0.75);
    border: 1px solid grey;
}

#card > * {
    font-size: 18px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;

}

#card > *::first-letter {
    font-size: 200%;
    color: darkred;
}

/* ==========================================================================
    Navigation style
   ========================================================================== */

nav {
    padding: 20px 10px;
}

nav ul {
    padding: 0;
}

nav ul li.card-preview {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #ddd;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    -moz-box-shadow: 8px 10px 11px -2px rgba(119, 63, 25, 0.75);
    box-shadow: 8px 10px 11px -2px rgba(119, 63, 25, 0.75);
    -webkit-animation: shadowFadeOut .5s;
    border-radius: 10px;
    border: 1px solid grey;
}

nav ul li.card-preview > * {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    padding: 10px;
    font-size: 14px;
}

nav li.card-preview:hover {
    transition: background-color 0.5s ease;
    background-color: white;
}

nav li.card-preview.active {
    transition: box-shadow 0.75s ease;
    -moz-box-shadow: inset 7px 8px 24px -6px rgba(119, 63, 25, 0.75);
    box-shadow: inset 7px 8px 24px -6px rgba(119, 63, 25, 0.75);
    -webkit-animation: shadowFade .75s;
}

@keyframes shadowFade {
    0% {
        box-shadow: 8px 10px 11px -2px rgba(119, 63, 25, 0.75);
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: inset 7px 8px 24px -6px rgba(119, 63, 25, 0.75);
    }
}

@keyframes shadowFadeOut {
    0% {
        box-shadow: inset 7px 8px 24px -6px rgba(119, 63, 25, 0.75);
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 8px 10px 11px -2px rgba(119, 63, 25, 0.75);
    }
}

@keyframes shadowFade {
    0% {
        box-shadow: 8px 10px 11px -2px rgba(119, 63, 25, 0.75);
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: inset 7px 8px 24px -6px rgba(119, 63, 25, 0.75);
    }
}

@-webkit-keyframes shadowFadeOut {
    0% {
        box-shadow: inset 7px 8px 24px -6px rgba(119, 63, 25, 0.75);
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 8px 10px 11px -2px rgba(119, 63, 25, 0.75);
    }
}

nav li.card-preview > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
